.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  background-color: white;
  width: 2000px;
  margin-top: 10px;
}

.grid-item {
  border: 2px solid rgba(99, 93, 93, 0.8);
  font-size: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.start {
  margin-left: 10px; /* display: none; */
}

.stop {
}
